<%- include('header'); %>
<h1 class="headline-sm">Lingueasy</h1>
<h2><%= __('Code less, write less, reach more clients around the world.'); %></h2>
<p>
    <%= __('A fast, minimalist and easy to use library for translations.'); %> <%- _f(`For more documentation visit
    <a href="%s">the github repo</a>.`, 'https://github.com/kossidts/lingueasy') %>
</p>
<p><%= content %></p>
<%- include('footer'); %>
