<%- include('header'); %>
<h2>Lingueasy</h2>
<p class="intro"><%= __('Fast, minimalist and easy to use library for translations.'); %></p>
<p><%= content %></p>
<p><%= __('Code less, reach more clients around the world.') %></p>
<p><%- _f('For more documentation visit <a href="%s">the github repo</a>', 'https://github.com/kossidts/lingueasy') %></p>
<%- include('footer'); %>
